@font-face{
    font-family: "B Yekan";
    src: url("./fonts/BYekan.ttf") format("ttf"),
    url("./fonts/BYekan.woff2") format('woff2');
}

*{
    font-family: 'B Yekan';
}

main{
    direction: rtl;
    min-height: 100vh;
}