{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/login/forget-password.css' %}">
{% endblock head %}


{% block title %}تغییر رمز عبور{% endblock title %}


{% block content %}
<main class="my-4">
	<p class="my-5 me-3 ms-3">رمز عبور قبلی شما باطل شد. لطفا رمز عبور جدید خود را وارد کنید</p>
	<!-- <form action="" method="post"> -->
	<form method="post" id="fp-c"
		class="d-flex justify-content-center align-items-start flex-column" style="gap: 30px;">
		{% csrf_token %}
		<div class="row g-3 align-items-center d-flex justify-content-start align-content-center">
			<div class="col-auto" style="align-self: flex-start;">
				<label for="inputPassword6" class="col-form-label">رمز عبور</label>
			</div>
			<div class="col-auto">
				<div class="col-auto">
					<input type="password" name="new_password1" id="password" class="form-control" maxlength="20"
						aria-describedby="passwordHelpInline">
				</div>
				<div class="col-auto">
					<span id="passwordHelpInline" class="form-text">
						رمز عبور باید بین 6 تا 20 کاراکتر باشد
					</span>
				</div>
			</div>
		</div>
		<div class="row g-3 align-items-center d-flex justify-content-start align-content-center">
			<div class="col-auto">
				<label for="inputPassword6" class="col-form-label">تکرار رمز عبور</label>
			</div>
			<div class="col-auto">
				<input type="password" name="new_password2" id="password-confirm" class="form-control" maxlength="20"
					aria-describedby="passwordHelpInline">
			</div>
		</div>
		<div class="align-self-center">
			<button type="submit" class="btn btn-success px-5 py-2" style="font-weight: 600;">تایید</button>
		</div>
	</form>
</main>
{% endblock content %}


{% block script %}
<script src="{% static 'js/login/forget-password.js' %}" type="module"></script>
{% endblock script %}