{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/login/forget-password.css' %}">
{% endblock head %}


{% block title %}ایمیل ارسال شد{% endblock title %}


{% block content %}
<main class="my-4">
    <p class="my-5 me-3 ms-3">پیامی به آدرس ایمیل شما ارسال شد. در صورتیکه پیامی دریافت نکرده اید، صندوق اسپم خود را بررسی کنید. در غیر این صورت دوباره درخواست خود را تکرار کنید.</p>
    <div>
        <a href="{% url 'vitrin:index' %}" style="text-decoration: none; color: blue;">
        <h3 class="my-5 me-3 ms-3 fw-bold">بازگشت به صفحه اصلی</h3>
        </a>
    </div>
</main>
{% endblock content %}