{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/login/forget-password.css' %}">
{% endblock head %}


{% block title %}فراموش کردن رمز عبور{% endblock title %}


{% block content %}
<main class="my-4">
    <p class="my-5 me-3 ms-3">رمز شما با موفقیت تغییر کرد. بر روی لینک زیر کلیک کنید تا وارد سیستم شوید</p>
    <a class="text-center" href="{% url 'login:login-signup' %}" style="text-decoration: none; color: black;">
        <h3 class="fw-bold" style="color: blue;">ورود به سایت</h3>
    </a>
</main>

{% endblock content %}