{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/login/forget-password.css' %}">
{% endblock head %}


{% block title %}فراموش کردن رمز عبور{% endblock title %}


{% block content %}
<main class="my-4">
    <h3 class="my-5 me-3 ms-3 fw-bold">فراموشی رمز عبور</h3>
    <p class="my-5 me-3 ms-3">در صورتیکه رمز عبور خود را فراموش کرده اید، در فرم زیر ایمیل خود را وارد کرده و سپس ایمیل خود را بررسی نمایید</p>
    <!-- <form action="to-forget-password" method="post"> -->
    <form action="" method="post">
      {% csrf_token %}
      <div class="input-box mb-3 text-center text-sm-start">
        <button type="submit" class="btn btn-primary" style="margin-left: 15px;">ارسال</button>
        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="myemail@gmail.com" required>
      </div>
    </form>
  </main>
{% endblock content %}